---
interface LinkItem {
  title: string;
  slug: string;
}

interface Props {
  relatedArticles?: LinkItem[];
  relatedFrameworks?: LinkItem[];
  relatedUseCases?: LinkItem[];
  relatedCaseStudies?: LinkItem[];
}

const { relatedArticles = [], relatedFrameworks = [], relatedUseCases = [], relatedCaseStudies = [] } = Astro.props;

const totalLinks = relatedArticles.length + relatedFrameworks.length + relatedUseCases.length + relatedCaseStudies.length;

if (totalLinks < 3) {
  console.warn(`[InternalLinks] Warning: fewer than 3 internal links provided (got ${totalLinks}). Minimum required is 3.`);
}
---
{totalLinks > 0 && (
  <aside class="internal-links">
    <p class="internal-links__heading">Related</p>

    {relatedArticles.length > 0 && (
      <div class="internal-links__group">
        <p class="internal-links__group-label">Articles</p>
        <ul class="internal-links__list">
          {relatedArticles.map(link => (
            <li class="internal-links__item">
              <a href={`/insights/${link.slug}`}>{link.title}</a>
            </li>
          ))}
        </ul>
      </div>
    )}

    {relatedFrameworks.length > 0 && (
      <div class="internal-links__group">
        <p class="internal-links__group-label">Frameworks</p>
        <ul class="internal-links__list">
          {relatedFrameworks.map(link => (
            <li class="internal-links__item">
              <a href={`/frameworks/${link.slug}`}>{link.title}</a>
            </li>
          ))}
        </ul>
      </div>
    )}

    {relatedUseCases.length > 0 && (
      <div class="internal-links__group">
        <p class="internal-links__group-label">Use Cases</p>
        <ul class="internal-links__list">
          {relatedUseCases.map(link => (
            <li class="internal-links__item">
              <a href={`/use-cases/${link.slug}`}>{link.title}</a>
            </li>
          ))}
        </ul>
      </div>
    )}

    {relatedCaseStudies.length > 0 && (
      <div class="internal-links__group">
        <p class="internal-links__group-label">Case Studies</p>
        <ul class="internal-links__list">
          {relatedCaseStudies.map(link => (
            <li class="internal-links__item">
              <a href={`/case-studies/${link.slug}`}>{link.title}</a>
            </li>
          ))}
        </ul>
      </div>
    )}
  </aside>
)}
